@tailwind base;
@tailwind components;
@tailwind utilities;

#next-image-container {
 background-position: 10% center;

}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrows {
    -moz-appearance: textfield;
}